#textdomain wesnoth-Hailfire_Era
#textdomain unit found in wesnoth-grafted_era

[unit_type]
    id=HF_Trapper_Catcher
    name= _ "Halfling Catcher"
    race=halfling
    gender=male
    image="units/halflings/net_2.png"
    small_profile="portraits/halflings/transparent/halfling_1.png"
    profile="portraits/halflings/transparent/halfling_1.png"
    hitpoints=34
    movement_type=smallfoot
    movement=5
    experience=40
    level=1
    alignment=lawful
    advances_to=HF_Trapper_Stopper
    cost=16
    usage=mixed fighter
	#changed from healer
    description= _ "The net-throwers who survive multiple combat encounters get better at navigating the battlefield without a real weapon. Having witnessed the untimely demise of the less lucky net-throwers, they buid a harness for themselves that allows them to cast a net on an approaching enemy before he can reach and strike the net-thrower."
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/halflings/net_2.png" "units/halflings/net_2.png" {SOUND_LIST:GOBLIN_HIT} }
	[abilities]
		{ABILITY_ARCTIC}
	[/abilities]
    [attack]
        name=net
        description="net"
        type=impact
        range=melee
        damage=3
        number=3
        icon=attacks/net.png
        [specials]
            {WEAPON_SPECIAL_TRAPPER}
        [/specials]
    [/attack]
	#removed first strike, replaced slow with custom weapon special
    [attack_anim]
        [filter_attack]
            name=net
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/halflings/net_2.png"
        [/frame]
        [frame]
            begin=-175
            end=-75
            image="units/halflings/net_2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/halflings/net_2.png"
                sound=net.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/halflings/net_2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=200
            image="units/halflings/net_2.png"
        [/frame]
        
    [/attack_anim]
[/unit_type]
