#textdomain wesnoth-Hailfire_Era
#aoh
[multiplayer_side]
    id=HF_Undead_aoh
    name= _"Undead"
    image="units/undead-necromancers/lich.png"
    type=random
    leader=HF_Necro_Lich,HF_Necromancer,HF_Skele_Draug,HF_Skele_Banebow,HF_Corpse_Ghast,HF_Skele_Deathblade
    random_leader=HF_Necro_Lich,HF_Necromancer,HF_Skele_Draug,HF_Skele_Banebow
	recruit=HF_Skeleton,HF_Skele_Revenant,HF_Skele_Deathblade,HF_Skeleton_Archer,HF_Skele_Bone_Shooter, HF_Corpse_Walking, HF_Corpse_Soulless, HF_Spirit_Ghost, HF_Spirit_Wraith, HF_Spirit_Shadow,HF_Bat_Vampire, HF_Bat_Blood,HF_Corpse_Ghoul, HF_Corpse_Necrophage, HF_Necro_Dark_Adept,HF_Necro_Dark_Sorcerer
    terrain_liked=Ss, Hh, Ha, Ww
    # wmllint: markcheck off
    description="<img>src='portraits/undead/spectre.png~BG()' align='middle'</img>

"+_"The <bold>text='Undead'</bold> are a faction of <ref>text='undead' dst='..race_undead'</ref> creatures and <ref>text='human' dst='..race_human'</ref> practitioners of dark arts that usually accompany them. Often, these “Dark Adepts” are the units that do the most damage for the faction, but they have a major vulnerability — their practicing of this forbidden, evil magic has consumed all their energy and so they have no melee attack at all. The Undead are a very aggressive faction and the most powerful <ref>text='Default Era' dst='..era_era_default'</ref> faction at nighttime."
    # wmllint: markcheck on
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,scout,archer
    [/ai]
[/multiplayer_side]

