#textdomain wesnoth-Hailfire_Era 
#textdomain unit found in wesnoth-Ageless_Era/EOS

[unit_type]
    id=HF_Warrior_Minotaur
    name= _ "Minotaur Warrior"
    race=minotaur
	#changed from AE_stf_minotaurs_race
    image="units/minotaurs/gore.png"
    hitpoints=37
    movement_type=orcishfoot
    movement=5
	#changed from 4
    experience=45
    level=1
    alignment=neutral
	#changed from chaotic
    advances_to=HF_Warrior_Rouser,HF_Warrior_Raider
    cost=17
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
The Gores are basically new recruits in the minotaur infantry or simply militia defending their territory."+{SPECIAL_NOTES}
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/minotaurs/gore.png" "units/minotaurs/gore.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_TROPIC}
		{ABILITY_CANNIBAL}
    [/abilities]
	#replaced divine health
    [attack]
        name=axe
        #textdomain wesnoth-units
        description="axe"
		icon=attacks/battleaxe.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        start_time=-100
        [frame]
            duration=100
            image="units/minotaurs/gore.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/minotaurs/gore.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/minotaurs/gore.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/minotaurs/gore.png"
        [/frame]
        [frame]
            duration=100
            image="units/minotaurs/gore.png"
        [/frame]
    [/attack_anim]
[/unit_type]
