#textdomain wesnoth-Hailfire_Era 
#textdomain unit found in wesnoth-Ageless_Era/EOS

[unit_type]
    id=HF_Warrior_Rouser
    name= _ "Minotaur Rouser"
    race=minotaur
	#changed from AE_stf_minotaurs_race
    image="units/minotaurs/rouser.png"
    hitpoints=52
    movement_type=orcishfoot
    [resistance]
        blade=100
        pierce=90
        impact=90
    [/resistance]
    movement=5
	#changed from 4
    experience=80
    level=2
    alignment=neutral
	#changed from chaotic
    advances_to=HF_Warrior_Overlord
    cost=35
    usage=mixed fighter
	#changed from fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
The Rousers are the elite of the minotaur infantry who seek either generalship or executionership; their bravery is derived from the desire to obtain higher ranks in minotaur society."+{SPECIAL_NOTES}
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/minotaurs/rouser-defend-2.png" "units/minotaurs/rouser-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_TROPIC}
		{ABILITY_CANNIBAL}
    [/abilities]
	#replaced divine health
    [attack]
        name=battle axe
        #textdomain wesnoth-units
        description="battle axe"
        type=blade
        range=melee
        damage=12
        number=3
        icon=attacks/battleaxe.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        start_time=-100
        [frame]
            duration=100
            image="units/minotaurs/rouser.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/minotaurs/rouser.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/minotaurs/rouser.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/minotaurs/rouser.png"
        [/frame]
        [frame]
            duration=100
            image="units/minotaurs/rouser.png"
        [/frame]
    [/attack_anim]
[/unit_type]
